<div class="bg-gray-200 w-full mt-20">
</div>
<div class="bg-gray-200 border-b-2 border-gray-300 w-full h-[100px]">
    <div class="grid grid-cols-3 justify-items-center mx-24">
        <div class="grid grid-cols-1 justify-items-center">
            <a [routerLink]="['/booking/search-room']" class="group flex items-center pt-5 hover:cursor-pointer">
                <div class=" h-0.5 w-[150px] bg-lime-700 group-hover:bg-lime-500"></div>
                <p class="mx-3 bg-lime-500 group-hover:bg-lime-400 px-3 py-1 rounded-full">1</p>
                <div class="h-0.5 w-[180px] bg-lime-700 group-hover:bg-lime-500"></div>
            </a>
            <p class="mr-7 mt-3">Choice Of Date</p>
        </div>
        <div class="grid grid-cols-1 justify-items-center">
            <div class="flex items-center pt-5">
                <div class="h-0.5 w-[150px] bg-lime-700"></div>
                <p class="mx-3 bg-lime-500 px-3 py-1 rounded-full">2</p>
                <div class="h-0.5 w-[180px] bg-lime-700"></div>
            </div>
            <p class="mr-5 mt-3">Choice Of Room</p>
        </div>
        <div class="grid grid-cols-1 justify-items-center">
            <div class="flex items-center pt-5">
                <div class="h-0.5 w-[150px] bg-gray-400"></div>
                <p class="mx-3 bg-gray-300 px-3 py-1 rounded-full">3</p>
                <div class="h-0.5 w-[150px] bg-gray-400"></div>
            </div>
            <p class="mt-3">Book Room</p>
        </div>
    </div>
</div>
<div class="container grid-cols-2 bg-gray-200 h-full pt-[7%]">
    <div class="grid grid-cols-1 items-center justify-center fixed w-[27%] h-full">
        <div class="bg-white flex flex-col mt-[1rem] ml-10 rounded-lg shadow-xl py-5">
            <div class="mb-4 mx-16">
                <label for="check-in" class="block text-gray-700">Check-in Date</label>
                <input type="date" [(ngModel)]="checkinDate" (change)="dateService.onCheckinChange()" [min]="checkinMinDate()" id="check-in" name="check-in" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <div class="mb-4 mx-16">
                <label for="check-out" class="block text-gray-700">Check-out Date</label>
                <input type="date" [(ngModel)]="checkoutDate" [min]="checkoutMinDate()" id="check-out" name="check-out" class="mt-1 block w-full px-3 py-2 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm">
            </div>
            <button type="button" (click)="searchAvailableRoom()" class="mx-14 mt-4 bg-indigo-600 text-white font-semibold py-2 px-8 rounded-md flex items-center justify-center hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
                <i class="fa-duotone fa-solid fa-magnifying-glass mr-3"></i>
                Search
            </button>
        </div>
        <div class="h-[50rem]"></div>
    </div>
        @if (roomList().length > 0) {
            <div class="ms-[30%] bg-white rounded-lg h-full">
                <h3 class="p-5 text-xl font-bold border-b-2 border-s-[50px] border-green-900">CURRENTLY AVAILABLE ROOMS AND FINAL PRICES</h3>
                @for (item of roomList(); track $index) {
                    <app-room [room]="item"></app-room>
                }
            </div>
        }
        @else {
            <div class="px-10 ms-[30%] bg-white rounded-lg h-screen">
                <h3 class="p-5 pt-10 text-xl text-orange-600 font-bold border-b-2 border-orange-900 mb-32">We are very sorry!</h3>
                <div class="rounded-lg w-full h-32 border-4 border-[#b9222feb] text-[#ffffff]">
                    <div class="flex flex-row gap-5 justify-center items-center px-5 w-full h-full">
                        <div class="my-auto text-2xl text-red-500">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-x-circle">
                                <circle cx="12" cy="12" r="10"></circle>
                                <path d="m15 9-6 6"></path>
                                <path d="m9 9 6 6"></path>
                            </svg>
                        </div>
                        <div class="text-black">
                            <div class="font-bold text-2xl">No room available!</div>
                            <div class=" text-base">There is no room available for the seleted date.</div>
                        </div>
                    </div>
                </div>
            </div>
        }
</div>