<div class="font-serif">
    <img class="absolute top-0 left-0 w-full h-full z-10 object-cover" src="/assets/landing-images/contact.jpg" alt="">
    <div class="absolute top-0 left-0 w-full h-full flex flex-col items-center justify-center z-10">
        <h1 class="text-black text-7xl font-bold pb-10">Grand Larva Hotel</h1>
        <h3 class="text-white text-2xl">Would you like to make a reservation</h3>
        <h3 class="text-white text-2xl">or need more information about your stay?</h3>
        <h3 class="text-white text-2xl">We are happy to help.</h3>
    </div>
    <div class="container relative bg-zinc-50 py-40 flex justify-center items-center hover:scale-105 transition-transform duration-500">
        <div class="w-1/2 mx-auto">
            <div class="bg-opacity-75 p-8 text-center space-y-10">
                <div class="relative w-1/5 transform mx-auto">
                    <p class="text-gray-500 border border-black p-2 text-2xl"><i class="fa-solid fa-i"></i></p>
                </div>
                <p class="text-4xl mb-3">Dear guests, allow us to warmly welcome you.</p>
                <p class="text-gray-700 text-xl mx-10 text-center pt-20 mb-16">What led us to enter the field of service provision is above all a sense of hospitality, the location of the hotel with a rich source of mineral springs in the heart of Myanmar, from where you can explore all the corners of our small but beautiful country, the relationship with our region and the interest about its development.</p>
            </div>
        </div>
        <div class="w-2/6 mt-[50px] mr-20">
            <img class="h-[700px] w-full object-cover rounded-2xl shadow-2xl shadow-black border-4" src="/assets/landing-images/front.jpg" alt="">
        </div>
    </div>
    <div class="container relative bg-zinc-50 py-40 flex justify-center items-center hover:scale-105 transition-transform duration-500">
        <div class="w-1/4 mx-auto border">
            <div class="bg-opacity-75 p-8 py-16 text-center space-y-10 border border-black">
                <p>Helpful staff</p>
                <p>Family atmosphere and tradition</p>
                <p>Own thermal spring</p>
                <p>Excellent gastronomy</p>
                <p>Congress Center</p>
                
            </div>
        </div>
        <div class="w-2/6 mt-[50px] mr-20">
            <img class="h-[500px] w-full object-cover rounded-2xl shadow-2xl shadow-black border-4" src="/assets/landing-images/about/helpful-staff.jpg" alt="">
        </div>
    </div>
    <div class="container relative bg-red-50 py-40 group">
        <div class="absolute top-14 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
            <p class="text-gray-900 p-5 text-4xl">About us</p>
        </div>
        <div class="absolute top-24 left-1/2 transform -translate-x-1/2 -translate-y-1/2">
        <p class="text-gray-900 p-5 mt-[10rem] mb-3 text-5xl">Thanks to the satisfaction of our guests, the hotel grows and modernizes every year</p>
    </div>
        <img class="w-3/5 h-full z-0 object-cover mt-[10rem] mx-auto rounded-2xl shadow-2xl shadow-black border-4 group-hover:scale-110 transition-transform duration-300" src="/assets/landing-images/front/pool.jpg" alt="">
    </div>
    <div class="container justify-center bg-red-50 py-20">
       <p class="text-left text-2xl mx-[20rem]">We care very much that you feel comfortable with us, so feedback on our services is very important to us. Thanks to the satisfaction of our guests, the hotel grows and modernizes every year.</p>
        <p class="text-left text-gray-700 text-xl mt-[5rem] mx-[20rem]">If our services do not meet your expectations, please contact us, we will do everything to solve your requirements. Therefore, do not hesitate to contact our staff, who are here for you. We are grateful for our team of employees who have been with us for 19 years and together share our sense of hospitality.</p>
    </div>  
    <div class="container relative bg-red-50 py-40 group">
        <img class="w-4/5 h-full z-0 object-cover mx-auto shadow-2xl shadow-black border-4 group-hover:scale-110 transition-transform duration-300" src="/assets/rooms-view/Suite-4.jpg" alt="">
        <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center">
            <div class="h-[250px] w-2/6 z-20 flex justify-center items-center group-hover:scale-110 transition-transform duration-300">
                <div class="text-center space-y-20">
                    <p class="text-white pb-4 text-2xl">Accommodation</p>
                    <p class="text-white pb-4 text-2xl">Choose your stay</p>
                </div>
                <div class="absolute pt-[30rem] group">
                    <button [routerLink]="['/accommodation']" class="border-2 px-20 py-3 rounded-3xl hover:scale-110 hover:border-orange-800 transition-transform duration-300"><i class="fa-solid fa-angles-right group-hover:scale-x-110 transition-transform duration-300"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>